body {
  margin: 0;
  font-family: Arial, sans-serif;
  /*overflow-x: hidden;*/

}


/* ===== TOP BLUE BANNER ===== */
.top-banner {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #0a69cf;
  height: 90px;
  display: flex;
  /*flex-wrap: wrap-reverse;*/
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

/* Hamburger square box */
.menu-box {
  z-index: 1000;
  background: white;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  cursor: pointer;
}

/* Center search */
.search-wrapper {
  flex: 1;
  min-width: 0;
  display: flex;
  justify-content: center;

}

.button {
  display: inline;
  background-color: white;
  color: #007BFF;
  border-radius: 20%;
  border: 1px solid #007BFF;

}


.search-wrapper input {
  width: 100%;
  max-width: 350px;
  box-sizing: border-box;
  /*padding: 12px 20px;*/
  border-radius: 40px;
  border: none;
  outline: none;
  font-size: 16px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

}

.search-wrapper form {
  display: flex;
}

/* Logo + pigeon section */
.logo-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo-text {
  color: white;
  font-weight: bold;
  font-size: 18px;
}

/* Pigeon face */
.logo {
  width: 100px;
  height: auto;
  object-fit: contain;
}




/* ===== SIDEBAR ===== */
.sidebar {
  position: fixed;
  top: 90px;
  /* matches banner height */
  left: -300px;
  /* completely off screen */
  width: 250px;
  float: left;
  min-height: 100vh;
  flex-shrink: 0;
  background: white;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
  padding: 20px;
  transition: left 0.3s ease;
  z-index: 500;
}


.sidebar.active {
  left: 0;
}

.sidebar h2 {
  color: #007BFF;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
  color: #55a0f0;
  cursor: pointer;
}

/* GIF GRID */
.gif-area {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
  /*repeat(6, 300px); */
  gap: 15px;
  padding: 20px;


}


.gif-video {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 12px;

}

a {
  color: rgb(255, 0, 21);
}

#gifDetail h2 {
  color: rgb(42, 159, 189);
}

#gifDetail p {
  color: rgb(63, 130, 207);
}

/* MOBILE: 2 rows, 3 per row (6 total) */





/* Abigaiil Morris Page */
.abigaiil-banner {
  background-color: black;
  border-bottom: 4px solid red;
  height: 140px;
  margin-top: -30px;
}

.abigaiil-logo {
  position: absolute;
  border: 4px solid red;
  height: 150px;
  width: 150px;
  left: 220px;
  margin-top: 0px;
}

#abigaiil-gifarea {
  margin-top: 130px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
  /*repeat(6, 300px); */
  gap: 15px;
  padding: 20px;
}

.abigaiil-h1 {
  color: white;
  text-align: right;
  position: relative;
  padding-top: 50px;
  padding-right: 150px;
  font-family: sans-serif;


}

@media(max-width: 818px) {
  .search-wrapper {
    flex-shrink: 1;
  }
}

@media(max-width: 450px) {
  .logo-section {
    display: none;

  }
}

.search-wrapper {
  flex: 1;
}

.search-wrapper input {
  width: 100%;
}